<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <!-- add this snippet at the top of your web.xml -->
  <filter>
    <filter-name>injectionAttackFilter</filter-name>
    <filter-class>com.slocumbrau.filter.InjectionAttackFilter</filter-class>

	<!-- optional parameters. values given are the defaults. they can be set to false or removed to disable. -->
	<init-param>
      <param-name>filter_xss</param-name>
      <param-value>true</param-value>
    </init-param>
	<init-param>
      <param-name>filter_sql_injection</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <!-- adds X-FRAME-OPTIONS -> SAMEORIGIN to all HttpServletResponses. Will not overwrite existing X-FRAME-OPTIONS header -->
      <param-name>click_jacking_header</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>injectionAttackFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- end snippet -->
</web-app>